/* #ebff05
    #0a192f
    #8892b0 */
#primer-h1{
    color: #8892b0;
}

#link_social {
    color: #0a192f;
    -webkit-text-decoration-skip: ink;

}
#new_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.bg-amarillito{
    background: #ebff05!important;
}
.btn-outline-primary {
    --bs-btn-color: #8529cd;
    --bs-btn-border-color: #8529cd;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #8529cd;
    --bs-btn-hover-border-color: #8529cd;
    --bs-btn-focus-shadow-rgb: 133,41,205;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #8529cd;
    --bs-btn-active-border-color: #8529cd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(12, 11, 13, 0.125);
    --bs-btn-disabled-color: #8529cd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8529cd;
    --bs-gradient: none;
}

.btn-outline-amarillito{
    --bs-btn-color: #ebff05;
    --bs-btn-border-color: #ebff05;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #ebff05;
    --bs-btn-hover-border-color: #ebff05;
    --bs-btn-focus-shadow-rgb: 235,255,5;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #ebff05;
    --bs-btn-active-border-color: #ebff05;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(12, 11, 13, 0.125);
    --bs-btn-disabled-color: #ebff05;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ebff05;
    --bs-gradient: none;
}